body{
    background: #222831 !important;
    color:#fff !important;
}
#app{
    background-color: #222831;
    height: 100%;
    color: #fff;
}
.container{
    height: 100%;
    /* background-color: red; */
}
header{
    /* margin: 10px 0;
    width: 800px; */
    margin: auto;
    
}
#content{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
.container{
    flex: 1;
}