{% extends "base.html" %}

{% block content %}
<p class="important">
<h2>Register Page</h2>
<form class="container" style="max-width: 50rem;" method="POST" action="/register">
    {{ form.csrf_token }}
    <div class="mb-3 text-white">
        {{ form.name.label(class="form-label") }} {{ form.name(size=20, class="form-control") }}
    </div>
    <div class="mb-3 text-white">
        {{ form.username.label(class="form-label") }} {{ form.username(size=20, class="form-control") }}
    </div>
    <div class="mb-3 text-white">
        {{ form.email.label(class="form-label") }} {{ form.email(size=20, class="form-control") }}
    </div>
    <div class="mb-3 text-white">
        {{ form.password.label(class="form-label") }} {{ form.password(size=20, class="form-control") }}
    </div>
    <input type="submit" value="Go">
</form>
<a href="{{ url_for('login') }}">Login</a>
</p>
{% endblock %}